{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="pass">Mot de passe</label>
        <input type="password" name="password" id="pass" class="form-control">
        <input type="hidden" name="token" value="{{ token }}" class="form-control">
        <button class="btn btn-lg btn-primary">Validé</button>
    </form>
{% endblock %}