{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <section>
        <h1>Nos fim de la categorie {{ category.name }}</h1>
        <div class="row">
            {% for movie in category.movies %}
                <div class="col-6 col-md-4">

                    <div class="card horizontal">
                        <article>
                            <h2>{{ movie.titre }}</h2>
                            <div class="metadata">
                                Ajouté {{ movie.addAt | date('d/m/Y') }} à {{ movie.addAt | date('H:i') }} dans la
                                catégorie : <strong>{{ movie.category }}</strong><br>
                                <p>Date de sortie : {{ movie.yearAt | date('d/m/Y') }}</p>
                                {#                    <p>{{ movie.category.description }}</p>#}
                            </div>
                            <div class="content">
                                <img class="img-fluid" src="{{ vich_uploader_asset(movie, 'imageFile')|imagine_filter('img') }}" alt="{{ movie.titre }}">
                            </div>
                            <hr>
                            <div class="content">
                                <p class="text-center">{{ movie.conseil }}</p>
                                <br>
                                <a href="{{ path('select_movie', {'id': movie.id}) }}" class="btn btn-warning mg-col-8">Voir le film</a>

                            </div>

                        </article>
                        <hr>
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}