{% extends 'base.html.twig' %}
{%  form_theme movieForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>ajouté un film</h1>

    {{ form_start(movieForm) }}
    {{ form_widget(movieForm) }}
    <button type="submit" class="btn btn-warning">Valider</button>
    {{ form_end(movieForm) }}
{% endblock %}