{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <article>
            <h2>{{ movie.titre }}</h2>
            <div class="metadata">
                Ajouté {{ movie.addAt | date('d/m/Y') }} à {{ movie.addAt | date('H:i') }} dans la
                catégorie : {{ movie.category }}</strong><br>
                <p>Date de sortie : {{ movie.yearAt | date('d/m/Y') }}</p>
                {#                    <p>{{ movie.category.description }}</p>#}
            </div>
            <div class="content text-center">
                <img class="rounded img-fluid" src="{{ vich_uploader_asset(movie, 'imageFile')|imagine_filter('img') }}" alt="{{ movie.titre }}">
            </div>
            <hr>
            <div class="content">
                <p class="text-center">{{ movie.conseil }}</p>
                <br>
                {% for i in 0..movie.note %}
                    <ion-icon name="star"></ion-icon>
                {% endfor %}
                <hr>
                <p>{{ movie.description }}</p>
                <a href="{{ path('home') }}" class="btn btn-warning mg-col-8">Retour à l'accueil</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('update_movie', {'id' : movie.id}) }}" class="btn btn-warning mg-col-8">Modifier ?</a>
                {% endif %}

            </div>

        </article>
        <hr>
        <hr>

    </section>
{% endblock %}