{% extends 'base.html.twig' %}
{%  form_theme updateForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>modifié ce film</h1>

    {{ form_start(updateForm) }}
    {{ form_widget(updateForm) }}
    <button type="submit" class="btn btn-warning">Valider</button>
    {{ form_end(updateForm) }}
{% endblock %}