{% extends 'base.html.twig' %}
{%  form_theme registerForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registerForm) }}
    {{ form_row(registerForm.email) }}
    {{ form_row(registerForm.password) }}
    {{ form_row(registerForm.password_confirm) }}
    {{ form_row(registerForm.submit) }}
    {{ form_end(registerForm) }}



{% endblock %}